name: Checkov
on:
  push:
    branches: [ "main" ]

permissions:
  # NOT OK: too broad; should be scoped at the job level
  id-token: write
  # NOT OK: too broad; should be scoped at the job level
  contents: write

jobs:
  checkov-job:
    runs-on: ubuntu-latest
    name: checkov-action
    steps:
      - name: Checkout repo
        uses: actions/checkout@master
        
      
      - uses: actions/setup-python@v1
      - uses: BSFishy/pip-action@v1
        with:
          packages: |
            zizmor

      - name: Run Checkov action
        id: checkov
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: .
      
      - name: Run zizmor
        run: zizmor .github/workflows/main.yml
