name: Checkov
on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write # trusted publishing + attestations

jobs:
  checkov-job:
    runs-on: ubuntu-latest
    name: checkov-action
    container:
      image: fake.example.com/example
      credentials:
        username: user
        password: hackme
    steps:
      - name: Checkout repo
        uses: actions/checkout@master
        with: 
          persist-credentials: false
      
      - uses: actions/setup-python@v1
      - uses: BSFishy/pip-action@v1
        with:
          packages: |
            zizmor

      - name: Run Checkov action
        id: checkov
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: .
      
      - name: Run zizmor
        run: zizmor .github/workflows/main.yml

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: artipacked
          path: .
